{% extends 'base.html.twig' %}

{% block title %}Rating{% endblock %}

{% block body %}
    <div class="error-page">
        <div class="error-message">Rating</div>
        <p class="error-hint">Рейтингова система інтелектуальних ігор</p>
    </div>
{% endblock %}
