APP_ENV=dev
APP_SECRET=change_me_to_a_random_string
APP_SHARE_DIR=var/share

DEFAULT_URI=http://localhost

DATABASE_URL="mysql://user:password@db:3306/dbname?serverVersion=9.3&charset=utf8mb4"
REDIS_URL=redis://redis:6379

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

MAILER_DSN=smtp://mailer:1025

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

VAR_DUMPER_SERVER=127.0.0.1:9912
