APP_ENV=dev
APP_SECRET=dev_secret_not_for_production
APP_SHARE_DIR=var/share

DEFAULT_URI=http://localhost

DATABASE_URL="mysql://rating_user:rating_pass@db:3306/rating?serverVersion=9.3&charset=utf8mb4"
REDIS_URL=redis://redis:6379/1
REDIS_SESSION_URL=redis://redis:6379/2
REDIS_RATE_LIMITER_URL=redis://redis:6379/3

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

MAILER_DSN=smtp://mailer:1025

MYSQL_ROOT_PASSWORD=root_pass
MYSQL_DATABASE=rating
MYSQL_USER=rating_user
MYSQL_PASSWORD=rating_pass

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

VAR_DUMPER_SERVER=127.0.0.1:9912
