parameters:
    level: 6
    paths:
        - src
        - tests
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        -
            identifier: arguments.count
            path: src/Common/Controller/Auth/GoogleConnectController.php
        -
            identifier: parameter.defaultValue
            path: '*/Mapping/*'
        -
            identifier: nullCoalesce.offset
            path: '*/Mapping/*'
        -
            identifier: return.unusedType
            path: src/Common/Security/GoogleAuthenticator.php
        -
            identifier: function.alreadyNarrowedType
            path: tests/bootstrap.php
    reportUnmatchedIgnoredErrors: false
