<turbo-frame id="tournament-results">
    <div class="card">
        <h2>{{ 'tournament.results'|trans }}</h2>
        <p>{{ 'tournament.results_hidden_notice'|trans({'%date%': hiddenUntil|date('d.m.Y')}) }}</p>
    </div>
</turbo-frame>
